@model IQueryable<Category>

@{
    ViewData["Title"] = "Kategoriler";
}

<div class="text-center my-3">
    <h4>Kategoriler</h4>
</div>

<ul class="list-group my-3">
    @foreach (var item in Model)
    {
        <li class="list-group-item">@item.CategoryName</li>
    }
</ul>
