@page
@model ContactModel
@{
    ViewData["Title"] = "İletişim";
}

<div class="text-center border my-5">
    <br />
    <div class="display-6">İLETİŞİM BİLGİLERİ</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            0512 345 6789
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Herhangi Bir Yerde
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            arasandazorbulursun@gmail.com
        </p>
    </div>
</div>