<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="fa fa-solid fa-bug-slash"></i>
        <br />
       Access Denied
    </h3>
</div>

<div class="text-center mt-5">
    <div class="lead mt-5">
        Bu Sayfaya Erişiminiz Yoktur. Lütfen Yöneticiyle İletişime Geçin.
    </div>

    <div class="btn-group my-5">
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">Anasayfaya Git</a>
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Product">Ürünler Sayfasına Git</a>
        <a class="btn btn-outline-secondary" asp-page="/contact">İletişim Sayfasına Git</a>
    </div>
</div>