<!DOCHTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <partial name="_Navbar"></partial>
            @RenderSection("Header", false)
    </header>
    <div class="container">
        <partial name="_Notification" />
        <main role="main" class="pb-5">
                @RenderBody()
        </main>
    </div>
    <footer>
        footer
            @RenderSection("Footer", false)
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
        @await RenderSectionAsync("Scripts", required: false)

</body>
</html>