@model IEnumerable<Category>

<div>
    <ul class="list-group my-4">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-route-Id="@item.Id">
                    @item.CategoryName
                </a>
            </li>
        }
    </ul>
</div>